/Development Code/
/Notes and Resources/
/Outputs/
/SS/
/ExampleDrought Statistics Plots.xlsx
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/Thumbs.db
/.idea/vcs.xml
/~$-N0W_D1.2_proposed_metrics_BEIS_revised_el.docx
/.idea/03 - Flow Analysis.iml
/README - Drought Statistics.md
/README - Hydrological Flow and Drought Analysis.md
